.File {
    text-align: center;
    border: 1px solid red;
    color: #333;
    float: left;
    margin: 2px;
    padding: 10px;
    width: 6em;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.File:hover {
    cursor: pointer;
    background: gray;
}