.Breadcrumb {
    background: gray;
    font-size: 13px;
    color: #fff;
    padding: 10px 25px;
}

.Breadcrumb > span {
    font-weight: bold;
    min-width: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;    
}

.Breadcrumb > span:hover {
    color: #eee;
}