.FileListSublist {
    overflow: auto;
    max-height: 20em;
}

.FileListSublist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.FileListSublist::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.FileListSublist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}